[submodule "QDarkStyleSheet"]
	path = Externals/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/google/flatbuffers
